<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
</head>
<body>
    <!-- <h1>Result</h1> -->

    {% if verified %}
        <p>Congratulations! You have entered the correct answer.</p>
        <img src="{{ url_for('static', filename='success-image.png') }}" alt="Success Image" style="width: 200px; height: auto; margin-top: 20px;">
    {% else %}
        <p>Sorry, your answer is incorrect. Please try again.</p>
    <a href="{{ url_for('question1') }}">Go Back</a> <!-- or question2 or question3 as applicable -->
    {% endif %}
    
</body>
</html>

